@import url("../../global.module.css");

.menuContainer {
  background-color: var(--menu-bg-color);
  border-radius: var(--menu-border-radius);
  color: var(--menu-fg-color);
  border: 1px solid var(--menu-border-color);
  padding: var(--menu-padding);
  box-shadow: 0 0 10px var(--menu-shadow-color);
  overflow: hidden;
  user-select: none;
}
