@import url("../../global.module.css");
.menuListItem {
  border-radius: var(--menu-list-item-border-radius);
  min-width: var(--menu-list-item-min-width);
  height: var(--menu-list-item-height);
  padding: var(--menu-list-item-padding);
  display: flex;
  align-items: center;
}
.menuListItem:hover {
  background-color: var(--menu-list-item-hover-bg);
}
.divider {
  height: 1px;
  width: calc(100% - var(--menu-divider-margin));
  background-color: var(--menu-border-color);
  margin: var(--menu-divider-margin);
}
