@import url("../../../../global.module.css");
.DockerContainer{
  position: absolute;
  width: var(--docker-width);
  background-color: var(--docker-bg-color);
  border-radius: var(--docker-border-radius);
  bottom: 10px;
  left: 50%;
  padding: var(--docker-padding);
  display: flex;
  align-items: center;
  transform:translateX(-50%)
}
