.sidePanel {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - var(--side-panel-padding) - 5px);
}
.sidePanelTitle {
  display: grid;
  margin-bottom: var(--side-panel-padding);
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
}
.sidePanelTitle h3 {
  font-size: var(--headerBar-font-size);
  margin: 0;
}

.sidePanelButtons {
  overflow-y: auto;
  overflow-x: hidden;
}
