:root {
  --font-family: "Cantarell";

  --headerBar-bg: #303030;
  --headerBar-bg-unfocused: #242424;
  --headerBar-fg: #ffffff;
  --headerBar-height: 25px;
  --headerBar-title-color: #ffffff;
  --headerBar-padding: 5px;
  --headerBar-border-color: rgba(0, 0, 0, 0.36);
  --headerBar-font-size: 10pt;

  --headerBar-button: #3e3e3e;
  --headerBar-button-unfocused: #303030;
  --headerBar-button-hover: #505050;
  --headerBar-button-hover-unfocused: #3e3e3e;
  --headerBar-button-size: 24px;
  --headerBar-button-gap: 5px;

  --windowEdge-width: 10px;
  --window-radius: 10px;
  --window-bg: #242424;
  --window-fg: #ffffff;
  --window-backdrop: #191919;
  --window-backdrop-radius: 10px;
  --window-border-color: #303030;

  --view-bg: #1e1e1e;

  --topBar-bg: #1e1e1e;
  --topBar-height: 30px;
  --topBar-fg: #ffffff;
  --topBar-button-font-size: 10pt;
  --topBar-button-font-weight: bold;
  --topBar-padding-x: 0px;
  --topBar-button-border-radius: 15px;
  --topBar-button-hover-bg: #303030;
  --topBar-button-padding: 5px 10px;

  --menu-bg-color: #303030;
  --menu-fg-color: #ffffff;
  --menu-border-color: rgba(100%, 100%, 100%, 0.05);
  --menu-shadow-color: #272727;
  --menu-border-radius: 15px;
  --menu-padding: 5px;
  --menu-list-item-hover-bg: #404040;
  --menu-list-item-border-radius: 10px;
  --menu-list-item-min-width: 150px;
  --menu-list-item-height: 30px;
  --menu-list-item-padding: 5px 20px;
  --menu-list-item-disabled-fg: #595959;
  --menu-divider-margin: 5px 10px;

  --workspace-overview-shadow-spread: 20px;
  --workspace-overview-shadow-color: #1e1e1e;

  --workspace-bg-color: #282828;

  --docker-height: 100px;
  --docker-width: max-content;
  --docker-padding: 5px;
  --docker-bg-color: #3d3d3d;
  --docker-border-radius: 15px;

  --icon-manager-width: 80%;
  --icon-manager-bg-color: red;

  --icon-hover-bg-color: #545454;
  --icon-padding: 5px;
  --icon-border-radius: 15px;
}
body {
  font-family: var(--font-family);
  margin: 0;
}
